body,ul {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  .nav a {
    color: #3d4451;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid transparency;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .nav li {
   float: left;
   margin: 33px 17px;
  }
  
  .rs,
  .card {
    font-size: 24px;
    font-weight: 600;
    font-family: "Fredoka One";
  }
  
  .rs {
    color: #e8676b;
  }
  
  .card {
    color: #9a9da2;
    margin-left: 3px;
  }
  
  .logo {
    float: left;
    margin-top: 30px;
    margin: 30px 17px;
  }
  
  .nav ul {
    float: right;
  }
  
  
  .nav li a:hover {
    border-bottom: 3px solid #e8676b;
    padding-top: 5px;
    padding-bottom: 5px;
  }